.dashboardSidebar {
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    padding: 16px 8px;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 68px;
    height: 68px;
    object-fit: contain;
  }
  
  .companyName {
    font-size: 22px;
    font-weight: 700;
    margin-left: 10px;
  }
  
  .createDashboardButton {
    margin-top: auto;
    padding: 10px;
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #757575;
    border-radius: 8px;
    cursor: pointer;
  }
  
  @media (max-width: 991px) {
    .dashboardSidebar {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }