.kpiSelectorContainer {
    background-color: rgba(241, 241, 241, 0.45);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 80px 22px 21px;
    border: 1px solid rgba(0, 0, 0, 0.11);
  }
  
  @media (max-width: 991px) {
    .kpiSelectorContainer {
      padding: 0 20px;
    }
  }
  
  .kpiSelectorWrapper {
    width: 100%;
    max-width: 807px;
  }
  
  @media (max-width: 991px) {
    .kpiSelectorWrapper {
      max-width: 100%;
    }
  }
  
  .selectorRow {
    gap: 20px;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .selectorRow {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .selectorColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0;
  }
  
  @media (max-width: 991px) {
    .selectorColumn {
      width: 100%;
    }
  }
  
  .selectorContent {
    display: flex;
    flex-grow: 1;
    padding-bottom: 18px;
    flex-direction: column;
    color: var(--sds-color-text-default-default);
    font: var(--sds-typography-body-font-weight-regular) var(--sds-typography-body-size-medium) / 1.4 var(--sds-typography-body-font-family);
  }
  
  @media (max-width: 991px) {
    .selectorContent {
      margin-top: 29px;
    }
  }
  
  .selectWrapper {
    display: flex;
    min-height: 112px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .selectorDescription {
    color: var(--sds-color-text-default-secondary);
    margin-top: 8px;
  }
  
  .selectBox {
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    min-width: 240px;
    margin-top: 8px;
    min-height: 40px;
    width: 100%;
    align-items: center;
    gap: 8px;
    line-height: 1;
    justify-content: flex-start;
    padding: 12px 16px;
    border: 1px solid #d9d9d9;
  }
  
  .selectValue {
    align-self: stretch;
    flex: 1;
    flex-basis: 0;
    margin: auto 0;
  }
  
  .selectIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .infoIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 28px;
    align-self: flex-end;
    z-index: 10;
    margin: -46px 36px 0 0;
  }
  
  @media (max-width: 991px) {
    .infoIcon {
      margin-right: 10px;
    }
  }
  
  .graphTypeWrapper {
    display: flex;
    margin-top: 46px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  
  @media (max-width: 991px) {
    .graphTypeWrapper {
      margin-top: 40px;
    }
  }
  
  .graphTypeSelector {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    padding: 0 12px;
    border: 1px solid #d9d9d9;
  }
  
  .graphTypeIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 28px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .graphTypeDivider {
    aspect-ratio: 0.02;
    object-fit: contain;
    object-position: center;
    width: 1px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .filterOptions {
    z-index: 10;
    display: flex;
    align-items: flex-start;
    gap: 21px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .filterOptionsWrapper {
    display: flex;
    gap: 6px;
  }
  
  .filterOptionsContent {
    display: flex;
    flex-direction: column;
  }
  
  .moreOptionsWrapper {
    display: flex;
    gap: 12px;
    font-family: var(--Font-family-Inter, Inter);
    color: #000;
    line-height: 1;
  }
  
  .moreOptionsText {
    font-feature-settings: "ss01" on, "cv01" on;
  }
  
  .moreOptionsIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    align-self: flex-start;
    margin-top: 4px;
  }
  
  .filterByText {
    color: #000;
    font-family: Inter, sans-serif;
    text-align: center;
    align-self: flex-start;
    margin-top: 6px;
  }
  
  .siteText {
    color: #000;
    font-family: Inter, sans-serif;
    text-align: center;
    align-self: flex-end;
    margin-top: 26px;
  }
  
  .filterDropdown {
    aspect-ratio: 4.76;
    object-fit: contain;
    object-position: center;
    width: 138px;
    background-color: #fff;
    margin-top: 20px;
    max-width: 100%;
  }
  
  .filterRow {
    display: flex;
    margin-top: 20px;
    gap: 9px;
    font-family: Inter, sans-serif;
    color: #000;
    text-align: center;
  }
  
  .filterLabel {
    flex-grow: 1;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .filterRow {
      white-space: initial;
    }
  }